<app-patient-breadcrumb></app-patient-breadcrumb>
<!-- Page Content -->
<div class="content success-page-cont">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6">

                <!-- Success Card -->
                <div class="card success-card">
                    <div class="card-body">
                        <div class="success-cont">
                            <i class="fas fa-check"></i>
                            <h3>Appointment booked Successfully!</h3>
                            <a [routerLink] = "routes.patientAppointment" class="btn btn-primary view-inv-btn">Go to Appointments</a>
                        </div>
                    </div>
                </div>
                <!-- /Success Card -->

            </div>
        </div>

    </div>
</div>
<!-- /Page Content -->
