<app-patient-breadcrumb></app-patient-breadcrumb>

<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <app-patient-sidebar class="col-lg-4 col-xl-3"></app-patient-sidebar>

            <div class="col-lg-8 col-xl-9">
                    <nav class="settings-tab mb-1">
                        <ul class="nav nav-tabs-bottom" role="tablist">
                             <li class="nav-item" role="presentation">
                                <a class="nav-link " [routerLink]="routes.profileSettings">Profile</a>
                             </li>
                             <li class="nav-item" role="presentation">
                                <a class="nav-link active" [routerLink]="routes.patientsChangePassword">Change Password</a>
                             </li>
                             <li class="nav-item" role="presentation">
                                <a class="nav-link" [routerLink]="routes.deleteAccount">Delete Account</a>
                             </li>
                        </ul>
                    </nav>
                            <div class="card">
                        <div class="card-body">
                            <div class="border-bottom pb-3 mb-3">
                                <h5>Change Password</h5>
                            </div>
                            <div *ngIf="message" class="alert alert-success">{{ message }}</div>
                            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
                            <form [formGroup]="form" (ngSubmit)="submit()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block input-block-new">
                                            <label for="Old Password" class="form-label">Current Password <span class="text-danger">*</span></label>
                                            <div class="pass-group">
                                                <input [type]="password[0] ? 'text' : 'password' "
                                                    class="form-control pass-input" formControlName="current_password">
                                                <span class="toggle-password feather"
                                                    [ngClass]=" password[0] ? 'feather-eye' : 'feather-eye-off'"
                                                    (click)="togglePassword(0)" (keydown)="togglePassword(0)" tabindex="1"></span>
                                            </div>
                                        </div>
                                        <div class="input-block input-block-new">
                                            <label for="New Password" class="form-label">New Password <span class="text-danger">*</span></label>
                                            <div class="pass-group">
                                                <input [type]="password[1] ? 'text' : 'password' "
                                                    class="form-control pass-input" formControlName="password">
                                                <span class="toggle-password feather"
                                                    [ngClass]=" password[1] ? 'feather-eye' : 'feather-eye-off'"
                                                    (click)="togglePassword(1)" (keydown)="togglePassword(1)" tabindex="1"></span>
                                            </div>
                                        </div>
                                        <div class="input-block input-block-new mb-0">
                                            <label class="form-label" for="Confirm Password">Confirm Password <span class="text-danger">*</span></label>
                                            <div class="pass-group">
                                                <input [type]="password[2] ? 'text' : 'password' "
                                                    class="form-control pass-input-sub" formControlName="password_confirmation">
                                                <span class="toggle-password feather"
                                                    [ngClass]=" password[2] ? 'feather-eye' : 'feather-eye-off'"
                                                    (click)="togglePassword(2)" (keydown)="togglePassword(2)" tabindex="1"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-btn border-top pt-3 text-end">
                                    <button class="btn btn-light" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="submit" [disabled]="saving">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->
