<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="assets/clindoctor-logo.png" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Login</h1>
                        <p class="account-subtitle">Access to our dashboard</p>

                        <!-- Form -->
                        <form >
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Password">
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary w-100" type="button" (click)="navigation()" (keydown)="navigation()" tabindex="1">Login</button>
                            </div>
                        </form>
                        <!-- /Form -->

                        <div class="text-center forgotpass"><a [routerLink] = "routes.adminForgotPassword">Forgot Password?</a></div>



                        <div class="text-center dont-have">Don’t have an account? <a [routerLink] = "routes.adminRegister">Register</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
