<app-doctor-breadcrumb></app-doctor-breadcrumb>

<!-- Page Content -->
<div class="content doctor-content">
    <div class="container">
        <div class="row">
            <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>
            <div class="col-lg-8 col-xl-9">
                <div class="dashboard-header">
                    <h3>Change Password</h3>
                </div>
                <div *ngIf="message" class="alert alert-success">{{ message }}</div>
                <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="card pass-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-block input-block-new">
                                        <label class="form-label" for="old">Old Password</label>
                                        <input [type]="password[0] ? 'text' : 'password' " class="form-control" formControlName="current_password">
                                    </div>
                                    <div class="input-block input-block-new">
                                        <label class="form-label" for="new">New Password</label>
                                        <div class="pass-group">
                                            <input [type]="password[1] ? 'text' : 'password' " class="form-control pass-input" formControlName="password">
                                            <span class="toggle-password feather"
                                                [ngClass]=" password[1] ? 'feather-eye' : 'feather-eye-off'"
                                                (click)="togglePassword(1)" (keydown)="togglePassword(1)" tabindex="1"></span>
                                        </div>
                                    </div>
                                    <div class="input-block input-block-new mb-0">
                                        <label class="form-label" for="password">Confirm Password</label>
                                        <div class="pass-group">
                                            <input [type]="password[2] ? 'text' : 'password' " class="form-control pass-input-sub" formControlName="password_confirmation">
                                            <span class="toggle-password feather"
                                                [ngClass]=" password[2] ? 'feather-eye' : 'feather-eye-off'"
                                                (click)="togglePassword(2)" (keydown)="togglePassword(2)" tabindex="1"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-set-button">
                        <button class="btn btn-light" type="button">Cancel</button>
                        <button class="btn btn-primary" type="submit" [disabled]="saving">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->
