<app-doctor-breadcrumb></app-doctor-breadcrumb>
<div class="content doctor-content">
  <div class="container">
    <div class="row">
      <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>
      <div class="col-lg-8 col-xl-9">
        <div class="dashboard-header">
          <h3>Profile Settings</h3>
        </div>
        <div class="setting-tab">
          <div class="appointment-tabs">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" [routerLink]="routes.doctorProfileSettings">Basic Details</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="routes.doctorExperienceSettings">Experience</a></li>
              <li class="nav-item"><a class="nav-link active" [routerLink]="routes.doctorEducationSettings">Education</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="routes.doctorAwardsSettings">Awards</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="routes.doctorInsuranceSettings">Insurances</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="routes.doctorClinicSettings">Clinics</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="routes.doctorBusinessSettings">Business Hours</a></li>
            </ul>
          </div>
        </div>

        <div class="setting-title d-flex align-items-center justify-content-between">
          <h5>Education</h5>
          <button type="button" class="btn btn-primary" (click)="addEducation()">Add New Education</button>
        </div>

        <div *ngIf="loading" class="alert alert-info">Loading...</div>
        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
        <div *ngIf="success" class="alert alert-success">{{ success }}</div>

        <form [formGroup]="form" (ngSubmit)="save()">
          <div class="setting-card" formArrayName="educations">
            <div class="add-info membership-infos">
              <div class="row membership-content">
                <ng-container *ngFor="let edu of educations.controls; let i = index" [formGroupName]="i">
                  <div class="col-lg-12">
                    <div class="setting-title d-flex align-items-center justify-content-between">
                      <h6 class="mb-0">Education {{ i + 1 }}</h6>
                      <a href="javascript:void(0);" class="text-danger" (click)="removeEducation(i)">Delete</a>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="form-wrap">
                      <label class="col-form-label">Degree <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" formControlName="degree" />
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="form-wrap">
                      <label class="col-form-label">Institution</label>
                      <input type="text" class="form-control" formControlName="institution" />
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-6">
                    <div class="form-wrap">
                      <label class="col-form-label">Year</label>
                      <input type="number" class="form-control" formControlName="year_completed" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-wrap">
                      <label class="col-form-label">Description</label>
                      <textarea rows="2" class="form-control" formControlName="description"></textarea>
                    </div>
                  </div>
                  <div class="col-12"><hr /></div>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="modal-btn text-end">
            <button type="submit" class="btn btn-primary prime-btn" [disabled]="loading">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
