			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="col-md-12 col-12 text-center">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-home-15"></i></a></li>
									<li class="breadcrumb-item active">Contact Us</li>
								</ol>
								<h2 class="breadcrumb-title">Contact Us</h2>
							</nav>
						</div>
					</div>
				</div>
				<div class="breadcrumb-bg">
					<img src="assets/img/bg/breadcrumb-bg-01.png" alt="img" class="breadcrumb-bg-01">
					<img src="assets/img/bg/breadcrumb-bg-02.png" alt="img" class="breadcrumb-bg-02">
					<img src="assets/img/bg/breadcrumb-icon.png" alt="img" class="breadcrumb-bg-03">
					<img src="assets/img/bg/breadcrumb-icon.png" alt="img" class="breadcrumb-bg-04">
				</div>
			</div>
			<!-- /Breadcrumb -->

<!-- Contact Us -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="section-inner-header contact-inner-header">
                    <h6>Get in touch</h6>
                    <h2>Have Any Question?</h2>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="isax isax-location5"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Address</h4>
                            <p>Alfred Naccache Boulevard, Beirut</p>
                        </div>
                    </div>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="isax isax-call5"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Phone Number</h4>
                            <p>01 604 000 EXT 7022</p>
                        </div>
                    </div>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="isax isax-sms5"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Email Address</h4>
                            <p>info&#64;clindoctor.net</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 d-flex">
                <div class="card contact-form-card w-100">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="name" class="mb-2">Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="email" class="mb-2">Email Address</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="phone" class="mb-2">Phone Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="services" class="mb-2">Services</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="mb-2" for="message">Message</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group-btn mb-0">
                                        <button type="submit" class="btn btn-primary prime-btn">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Contact Us -->

<!-- Contact Map -->
<div class="contact-map d-flex">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3300.000000000000!2d35.519446!3d33.881431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f193e45cf0a0f%3A0xabcd1234!2sHôtel-Dieu%20de%20France!5e0!3m2!1sen!2slb!4v0000000000000" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
