<div class="page-wrapper">
			
    <div class="content container-fluid">
        
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome Admin!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        @if (errorMessage) {
            <div class="alert alert-danger">{{ errorMessage }}</div>
        }
        @if (loading) {
            <div class="alert alert-info">Loading dashboard data...</div>
        }

        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-primary border-primary">
                                <i class="fe fe-users"></i>
                            </span>
                            <div class="dash-count">
                                <h3>{{ counts.doctors | number:'1.0-0' }}</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">
                            <h6 class="text-muted">Doctors</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-primary w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-success">
                                <i class="fe fe-credit-card"></i>
                            </span>
                            <div class="dash-count">
                                <h3>{{ counts.patients | number:'1.0-0' }}</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">
                            
                            <h6 class="text-muted">Patients</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-success w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-danger border-danger">
                                <i class="fe fe-money"></i>
                            </span>
                            <div class="dash-count">
                                <h3>{{ counts.appointments | number:'1.0-0' }}</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">
                            
                            <h6 class="text-muted">Appointment</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-danger w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon text-warning border-warning">
                                <i class="fe fe-folder"></i>
                            </span>
                            <div class="dash-count">
                                <h3>{{ counts.revenue | number:'1.0-0' }}</h3>
                            </div>
                        </div>
                        <div class="dash-widget-info">
                            
                            <h6 class="text-muted">Revenue</h6>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-warning w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
            
                <!-- Sales Chart -->
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Revenue</h4>
                    </div>
                    <div class="card-body">
                        <div id="morrisArea">
                                <apx-chart
                                  [series]="chartOptions1.series"
                                  [chart]="chartOptions1.chart"
                                  [xaxis]="chartOptions1.xaxis"
                                  [stroke]="chartOptions1.stroke"
                                  [tooltip]="chartOptions1.tooltip"
                                  [dataLabels]="chartOptions1.dataLabels"
                                  [markers]="chartOptions1.markers"
                                ></apx-chart>
                        </div>
                    </div>
                </div>
                <!-- /Sales Chart -->
                
            </div>
            <div class="col-md-12 col-lg-6">
            
                <!-- Invoice Chart -->
                <div class="card card-chart">
                    <div class="card-header">
                        <h4 class="card-title">Status</h4>
                    </div>
                    <div class="card-body">
                        <div id="morrisLine">
                            <apx-chart 
                            [series]="chartOptions2.series"
                            [chart]="chartOptions2.chart"
                            [xaxis]="chartOptions2.xaxis"
                            [dataLabels]="chartOptions2.dataLabels"
                            [stroke]="chartOptions2.stroke"
                            [legend]="chartOptions2.legend"
                            [markers]="chartOptions2.markers"
                  ></apx-chart>
                        </div>
                    </div>
                </div>
                <!-- /Invoice Chart -->
                
            </div>	
        </div>
        <div class="row">
            <div class="col-md-6 d-flex">
            
                <!-- Recent Orders -->
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title">Doctors List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>Designation</th>
                                        <th>Location</th>
                                        <th>Default Fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (loading) {
                                        <tr>
                                            <td colspan="4">Loading...</td>
                                        </tr>
                                    } @else {
                                        @for (data of latestDoctors; track data.id) {
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a [routerLink] = "routes.adminProfile" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" [src]="data.profileImage" alt="User Image"></a>
                                                        <a [routerLink] = "routes.adminProfile">{{ data.name }}</a>
                                                    </h2>
                                                </td>
                                                <td>{{ data.designation }}</td>
                                                <td>{{ data.city }} <span *ngIf="data.country">({{ data.country }})</span></td>
                                                <td>{{ data.defaultFee }}</td>
                                            </tr>
                                        } @empty {
                                            <tr>
                                                <td colspan="4">No doctors found.</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Recent Orders -->
                
            </div>
            <div class="col-md-6 d-flex">
            
                <!-- Feed Activity -->
                <div class="card  card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title">Patients List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>													
                                        <th>Patient Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Location</th>													
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (loading) {
                                        <tr>
                                            <td colspan="4">Loading...</td>
                                        </tr>
                                    } @else {
                                        @for (data of latestPatients; track data.id) {
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a [routerLink] = "routes.adminProfile" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" [src]="data.profileImage" alt="User Image"></a>
                                                        <a [routerLink] = "routes.adminProfile">{{ data.name }}</a>
                                                    </h2>
                                                </td>
                                                <td>{{ data.phone }}</td>
                                                <td>{{ data.email }}</td>
                                                <td>{{ data.city }} <span *ngIf="data.country">({{ data.country }})</span></td>
                                            </tr>
                                        } @empty {
                                            <tr>
                                                <td colspan="4">No patients found.</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Feed Activity -->
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            
                <!-- Recent Orders -->
                <div class="card card-table">
                    <div class="card-header">
                        <h4 class="card-title">Appointment List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>Patient Name</th>
                                        <th>Appointment Time</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (loading) {
                                        <tr>
                                            <td colspan="5">Loading...</td>
                                        </tr>
                                    } @else {
                                        @for (data of recentAppointments; track data.id) {
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a [routerLink] = "routes.adminProfile" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" [src]="data.doctorImage" alt="User Image"></a>
                                                        <a [routerLink] = "routes.adminProfile">{{ data.doctorName }}</a>
                                                    </h2>
                                                </td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a [routerLink] = "routes.adminProfile" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" [src]="data.patientImage" alt="User Image"></a>
                                                        <a [routerLink] = "routes.adminProfile">{{ data.patientName }}</a>
                                                    </h2>
                                                </td>
                                                <td>{{ data.appointmentDate }} <span class="text-primary d-block">{{ data.appointmentTime }}</span></td>
                                                <td>
                                                    <span class="badge rounded-pill bg-success-soft text-success text-capitalize">{{ data.status }}</span>
                                                </td>
                                                <td>
                                                    {{ data.amount }}
                                                </td>
                                            </tr>
                                        } @empty {
                                            <tr>
                                                <td colspan="5">No appointments found.</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Recent Orders -->
                
            </div>
        </div>
        
    </div>			
</div>
