<app-patient-breadcrumb></app-patient-breadcrumb>
<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">

            <app-patient-sidebar class="col-lg-4 col-xl-3"></app-patient-sidebar>

            <div class="col-lg-8 col-xl-9">
                <nav class="settings-tab mb-1">
                    <ul class="nav nav-tabs-bottom" role="tablist">
                         <li class="nav-item" role="presentation">
                            <a class="nav-link active" [routerLink]="routes.profileSettings">Profile</a>
                         </li>
                         <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="routes.patientsChangePassword">Change Password</a>
                         </li>
                         <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="routes.deleteAccount">Delete Account</a>
                         </li>
                    </ul>
                </nav>
                <div class="card">
                    <div class="card-body">
                        <div class="border-bottom pb-3 mb-3">
                            <h5>Profile Settings</h5>
                        </div>
                        <form [formGroup]="profileForm" (ngSubmit)="save()">
                            <div class="alert alert-success" *ngIf="message">{{ message }}</div>
                            <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
                            <div class="setting-card">
                                <label class="form-label mb-2">Profile Photo</label>
                                <div class="change-avatar img-upload">
                                    <div class="profile-img">
                                        <i class="fa-solid fa-file-image"></i>
                                    </div>
                                    <div class="upload-img">
                                        <div class="imgs-load d-flex align-items-center">
                                            <div class="change-photo">
                                                Upload New
                                                <input type="file" class="upload">
                                            </div>
                                            <a href="javascript:void(0);" class="upload-remove">Remove</a>
                                        </div>
                                        <p>Your Image should Below 4 MB, Accepted format jpg,png,svg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="setting-title">
                                <h6>Information</h6>
                            </div>
                            <div class="setting-card">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">First Name <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" formControlName="first_name">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Last Name <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" formControlName="last_name">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Date of Birth <span class="text-danger">*</span></label>
                                            <div class="form-icon">
                                                <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy" formControlName="dob">
                                                <span class="icon"><i class="isax isax-calendar-1"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Phone Number <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" formControlName="phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Email Address <span class="text-danger">*</span></label>
                                            <input type="email" class="form-control" formControlName="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Blood Group <span class="text-danger">*</span></label>
                                            <mat-select class="custom-mat-select select" placeholder="Select" formControlName="blood_group">
                                                <mat-option value="">Select</mat-option>
                                                <mat-option value="A+">A+</mat-option>
                                                <mat-option value="A-">A-</mat-option>
                                                <mat-option value="B+">B+</mat-option>
                                                <mat-option value="B-">B-</mat-option>
                                                <mat-option value="AB+">AB+</mat-option>
                                                <mat-option value="AB-">AB-</mat-option>
                                                <mat-option value="O+">O+</mat-option>
                                                <mat-option value="O-">O-</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="setting-title">
                                <h6>Address</h6>
                            </div>
                            <div class="setting-card">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Address <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" formControlName="address">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">City <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" formControlName="city">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">State <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" formControlName="state">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Country <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" formControlName="country">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Pincode <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" formControlName="pincode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-btn text-end">
                                <a href="javascript:void(0);" class="btn btn-md btn-light rounded-pill">Cancel</a>
                                <button type="submit" class="btn btn-md btn-primary-gradient rounded-pill" [disabled]="saving">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /Page Content -->
